<html>
    <head>
        <title>Movie-Details</title>
       <link rel="shortcut icon" href="https://www.muniversity.mobi/pluginfile.php/23398/user/icon/gr8street_muniversity/f3?rev=96187">
       <style type="text/css">
	.form-control{border: 2px solid #dadada;border-radius: 7px;margin-top:35px;height:40px;background-color: #FFFFFF;margin-bottom:40px;}
	.form-control:focus {outline: none;border-color: #d8bd36;box-shadow: 0 0 10px #d8bd36;}
	</style>
    </head>
          
     <body style='background-repeat: no-repeat;background-image: url("https://cdn.dal.ca/content/dam/dalhousie/images/dept/communicationsandmarketing/01%20DAL%20200%20FullMark-Gd-POS-RGB.jpg.lt_6803793b1806b211e1382f8e81c59bea.res/01%20DAL%20200%20FullMark-Gd-POS-RGB.jpg");background-position: top;background-size: 750px 200px;'>


	<form role="form" action="" method="POST" style="position:absolute;text-align: center;top: 230px;left: 400px;font-size:22px;color:#AC9834;">

        <label for="m"><strong>Movie Review</strong></label><br>
          <input class="form-control" name="m" placeholder="Enter the string" style="width:450px;" >
          <button type="submit" name="submit" vaue="sent" style="margin-left:20px">Submit</button><br></form>
		<div style="text-align: justify;font-size:20px;position: absolute;left: 400px;top: 352px;color: #AC9834;word-wrap: break-word;right: 170px;"><strong>Title :</strong>{{title}}<br><strong>Release Date :</strong>{{date}}<br><strong>Plot :</strong>{{plot}}<br><strong>Cast:-Actor :</strong>{{hero}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;,<strong>Actress :</strong>{{heroin}}<br>&emsp;&emsp;&emsp;<strong>Director :</strong>{{director}}&emsp;&emsp;&emsp;&emsp;&emsp;,<strong>Producer :</strong>{{producer}}<br><strong>Genre :</strong>{{genre}},{{genr}}<br><strong>Ratings :</strong>{{rate}}<br><strong>Similar Movie :</strong>{{similar}}</div>
	





    </body>
</html>


